.icon{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.con{
    width: 30%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header{
    margin-top:17%;
    margin-bottom:5%;
}
.inputcon{
    margin-top:16%;
    margin-bottom: 10%;
    display: flex;
}
.input{
    font-size: 1.5em;
    margin:5%
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}